<body>

    <div class="jumbotron">
        <h class="text-center">Recherche un artiste</h>
    </div>

    <div class="row">
        <div class="col-md-9 col-md-offset-3">

            @using (Html.BeginForm("SearchResult", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("Artiste")
                    <input id="ArtistName" list="ArtistName" name="ArtistName" type="text" value="" />
                    <datalist id="ArtistName">
                        <option value="Internet Explorer">
                        <option value="Firefox">
                        <option value="Chrome">
                        <option value="Opera">
                        <option value="Safari">
                    </datalist>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            }

        </div>
    </div>

    
    @section Scripts {
    <script >

        $(document).ready(function ()
        {
            $("#ArtistName").on('input', function ()
            {
                Ajax_Request($(this).val());
            });
        });

        function Ajax_Request(researchWord)
        {
            var urlSpotify = 'https://api.spotify.com/v1/search?type=artist&q=' + researchWord;

            try {
                $.ajax({
                    url: urlSpotify,
                    type: "GET",
                    headers: { 'Authorization': 'Bearer ' + '@ViewBag.Access_token' },
                }).then(function (oData) {
                    console.log(oData);
                });
            }
            catch (ex) {
                alert("catch");
            }
        }
    </script>
    }

    </body>



