@{
    int loopPosition = 0;
}

<div class="container search-beautify" style="padding-top:15px; padding-bottom:15px;">
    <h1 class="jumbotron-heading">Top 10 Artistes</h1>
    <div class="row vrowcenter">

        @foreach (var item in ViewBag.Artists.Items)
        {
            <div class="col-md-6 vcenter">

                @{
                    loopPosition++;
                    string imageUrl = "http://placehold.it/580x580";
                    if (item.Images != null && item.Images.Count != 0)
                    {
                        imageUrl = item.Images[0].Url;
                    }
                }

                <a href="/Home/DisplayArtist?idArtist=@item.Id"><img src="@imageUrl" alt="test" class="img-size"></a>

                <div class="carousel-caption">
                    <h1>@item.Name</h1>
                </div>

            </div>

            {
                bool endDiv = loopPosition % 2 == 0 ? true : false;
                if (endDiv)
                {
                @:</div> <div class="row vrowcenter">
                }
            }
        }
    </div>
</div>