<body>

    <div class="jumbotron">
        <h class="text-center">Recherche un artiste</h>
    </div>

    <div class="row">
        <div class="col-md-9 col-md-offset-3">

            @using (Html.BeginForm("SearchResult", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("Artiste")
                    <input id="ArtistName" list="ListArtist" name="ArtistName" type="text" value="" />
                    <datalist id="ListArtist">
                    </datalist>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            }

        </div>
    </div>

    
    @section Scripts {
    <script >

        $(document).ready(function ()
        {
            $("#ArtistName").on('input', function ()
            {
                Ajax_Request($(this).val());
            });
        });

        function Ajax_Request(researchWord)
        {
            var urlSpotify = 'https://api.spotify.com/v1/search?type=artist&q=' + researchWord;

            try {
                $.ajax({
                    url: urlSpotify,
                    type: "GET",
                    dataType: 'JSON',
                    headers: { 'Authorization': 'Bearer ' + '@ViewBag.Access_token' },
                }).then(function (response)
                {
                    $('#ListArtist').empty();
                    var length = response.artists.items.length;
                    for (var i = 0; i < length; i++) {
                        $('#ListArtist').append("<option value='" + response.artists.items[i].name + "'>");
                    }
                });
            }
            catch (ex) {
                alert("catch");
            }
        }
    </script>
    }

    </body>



