
@{
    int loopPosition = 0;
}

<h2>Résultat de la recherche</h2>

<div class="container">
    @if (ViewBag.Artists.Next != null || ViewBag.Artists.Previous != null)
    {
        <div class="row">
            @if (ViewBag.Artists.Previous != null)
            {
                <div class="col-md-6">
                    <a href="/Home/SearchURI?uri=@ViewBag.Artists.Previous">Previous</a>
                </div>
            }
            @if (ViewBag.Artists.Next != null)
            {
                <div class="col-md-6 pull-right">
                    <a href="/Home/SearchURI?uri=@ViewBag.Artists.Next" >Suivant</a>
                </div>
            }
        </div>
    }
</div>

<div class="container" style="padding-top:15px; padding-bottom:15px;">
    <div class="row vrowcenter">

        @foreach (var item in ViewBag.Artists.Items)
        {
        <div class="col-md-6 vcenter">

            @{
                loopPosition++;
                string s_imageUrl = "http://placehold.it/580x580";
                if (item.Images != null && item.Images.Count != 0)
                {
                    s_imageUrl = item.Images[0].Url;
                }
            }

            <a href="/Home/DisplayArtist?idArtist=@item.Id"><img src="@s_imageUrl" alt="test" class="img-size"></a>

            <div class="carousel-caption">
                <h1>@item.Name</h1>
            </div>

        </div>

            {
                bool endDiv = loopPosition % 2 == 0 ? true : false;
                if (endDiv)
                {
                @:</div> <div class="row vrowcenter">
                }
            }
        }
    </div>
</div>

<div class="container">
    @if (ViewBag.Artists.Next != null || ViewBag.Artists.Previous != null)
    {
        <div class="row">
            @if (ViewBag.Artists.Previous != null)
            {
                <div class="col-md-6">
                    <a href="/Home/SearchURI?uri=@ViewBag.Artists.Previous">Previous</a>
                </div>
            }
            @if (ViewBag.Artists.Next != null)
            {
                <div class="col-md-6 pull-right">
                    <a href="/Home/SearchURI?uri=@ViewBag.Artists.Next">Suivant</a>
                </div>
            }
        </div>
    }
</div>