
@{
    int loopPosition = 0;
}

<h1 class="jumbotron-heading">Résultats de votre recherche</h1>

<div class="container search-beautify" style="padding-top:15px; padding-bottom:15px;">

    @if (ViewBag.Artists.Next != null || ViewBag.Artists.Previous != null)
    {
        <div class="row" style="padding-bottom:10px;">
            @if (ViewBag.Artists.Previous != null)
            {
            <div class="col-md-6  text-center">
                <button onclick="window.location.href = '/Home/SearchURI?uri=@ViewBag.Artists.Previous';" class="btn btn-primary">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    Précédent
                </button>
            </div>
            }
            @if (ViewBag.Artists.Next != null)
            {
            <div class="col-md-6 pull-right text-center">
                <button onclick="window.location.href = '/Home/SearchURI?uri=@ViewBag.Artists.Next';" class="btn btn-primary">
                    Suivant
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
            }
        </div>
    }

    <div class="row vrowcenter">

        @foreach (var item in ViewBag.Artists.Items)
        {
            <div class="col-md-6 vcenter">

                @{
                    loopPosition++;
                    string imageUrl = "http://placehold.it/580x580";
                    if (item.Images != null && item.Images.Count != 0)
                    {
                        imageUrl = item.Images[0].Url;
                    }
                }

                <a href="/Home/DisplayArtist?idArtist=@item.Id">
                    <img src="@imageUrl" alt="test" class="img-size">
                    <div class="carousel-caption">
                        <h1>@item.Name</h1>
                    </div>
                </a>

            </div>

            {
                bool endDiv = loopPosition % 2 == 0 ? true : false;
                if (endDiv)
                {
                @:</div> <div class="row vrowcenter">
                }
            }
        }
    </div>

    @if (ViewBag.Artists.Next != null || ViewBag.Artists.Previous != null)
    {
        <div class="row" style="padding-top:10px;">
            @if (ViewBag.Artists.Previous != null)
            {
            <div class="col-md-6  text-center">
                <button onclick="window.location.href = '/Home/SearchURI?uri=@ViewBag.Artists.Previous';" class="btn btn-primary">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    Précédent
                </button>
            </div>
            }
            @if (ViewBag.Artists.Next != null)
            {
            <div class="col-md-6 pull-right text-center">
                <button onclick="window.location.href = '/Home/SearchURI?uri=@ViewBag.Artists.Next';" class="btn btn-primary">
                    Suivant
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
            }
        </div>
    }
</div>